6) Aplicação da biblioteca Pandas: Utilize os dados públicos da série histórica climática no arquivo 
“Dados_climaticos_historicos.xlsx”, contendo 2 abas de dados para as cidades de Macaé e Rio de Janeiro. Faça: <br>
a) Ler o referido arquivo xlsx com controle de acesso às abas desejadas, permitindo estruturar Pandas DataFrames. 
Ou seja, um DataFrame para cada cidade.<br> 
b) Extrair um conjunto de dados específicos a partir de um DataFrame para fins de cálculos. Por exemplo, computar 
média anual para cada conjunto de registro de temperaturas mínima, máxima e média registradas nos meses janeiro 
a dezembro. Demonstrar para cada cidade.<br> 
c)  Demonstrar  análises  de dados para responder as questões sobre as cidades: mês  de maior temperatura, mês de 
menor temperatura, mês mais chuvoso, mês menos chuvoso, acumulado de chuva (mm) anual, e qual cidade é mais 
úmida?<br>  
d) Salvar os dados de análises da questão anterior gerando um relatório em um novo arquivo xlsx. 
Dica: Pesquise a documentação da referida biblioteca: https://pandas.pydata.org/docs/index.html<br> 
> Objetiva estudo e aplicação da biblioteca Pandas.

In [6]:
import pandas as pd
import analise_lib as palib

### a) Carregando e Preparando os Dados

Utilizamos a função `carregar_e_preparar_dados_climaticos` da nossa biblioteca para ler o arquivo Excel, selecionar os dados corretos, transpor e renomear as colunas, retornando dois DataFrames prontos para a análise.

In [7]:
ARQUIVO_ENTRADA = "../data/Dados_climaticos_historicos.xlsx"

df_macae, df_rio = palib.carregar_e_preparar_dados_climaticos(ARQUIVO_ENTRADA)

print("--- Dados de Macaé ---")
display(df_macae.head())

print("\n--- Dados do Rio de Janeiro ---")
display(df_rio.head())

--- Dados de Macaé ---

,Media_Temp_C,Minima_Temp_C,Maxima_Temp_C,Chuva (mm),Umidade(%),Dias chuvosos (d)
Janeiro,25.8,23.5,29.1,175.0,0.81,11.0
Fevereiro,26.0,23.6,29.5,105.0,0.81,9.0
Março,25.5,23.3,28.5,154.0,0.83,12.0
Abril,24.1,21.9,27.1,85.0,0.82,10.0
Maio,22.0,19.6,25.0,60.0,0.80,8.0

--- Dados do Rio de Janeiro ---

,Media_Temp_C,Minima_Temp_C,Maxima_Temp_C,Chuva (mm),Umidade(%),Dias chuvosos (d)
Janeiro,26.7,23.3,31.2,172.0,0.79,12.0
Fevereiro,27.0,23.3,31.7,117.0,0.78,10.0
Março,25.9,22.7,30.2,153.0,0.81,12.0
Abril,24.3,21.1,28.5,99.0,0.81,10.0
Maio,21.8,18.2,26.2,81.0,0.81,9.0

### b) Média Anual das Temperaturas

A função `calcular_medias_anuais_temperatura` é chamada para computar a média das três colunas de temperatura para cada cidade.

In [8]:
medias_anuais_macae, medias_anuais_rio = palib.calcular_medias_anuais_temperatura(df_macae, df_rio)

print("Médias anuais - Macaé:")
print(medias_anuais_macae)

print("\nMédias anuais - Rio de Janeiro:")
print(medias_anuais_rio)

Médias anuais - Macaé:
Media_Temp_C     23.28
Minima_Temp_C    20.87
Maxima_Temp_C    26.58
dtype: float64

Médias anuais - Rio de Janeiro:
Media_Temp_C     23.62
Minima_Temp_C    19.95
Maxima_Temp_C    28.35
dtype: float64

### c) Análise Climática Detalhada

A função `realizar_analise_detalhada_clima` executa todos os cálculos necessários para responder às perguntas sobre os meses com eventos extremos de clima e a umidade comparativa.

In [9]:
# Realiza a análise detalhada e obtém os resultados
analise_macae, analise_rio, cidade_mais_umida = palib.realizar_analise_detalhada_clima(df_macae, df_rio)

# Exibe os resultados formatados
print("\nMacaé:")
print(f"Mês de maior temperatura: {analise_macae['mes_maior_temp']}")
print(f"Mês de menor temperatura: {analise_macae['mes_menor_temp']}")
print(f"Mês mais chuvoso: {analise_macae['mes_mais_chuvoso']}")
print(f"Mês menos chuvoso: {analise_macae['mes_menos_chuvoso']}")
print(f"Acumulado de chuva anual (mm): {analise_macae['chuva_anual']:.1f}")
print(f"Umidade média anual: {analise_macae['umidade_media']:.2f}")

print("\nRio de Janeiro:")
print(f"Mês de maior temperatura: {analise_rio['mes_maior_temp']}")
print(f"Mês de menor temperatura: {analise_rio['mes_menor_temp']}")
print(f"Mês mais chuvoso: {analise_rio['mes_mais_chuvoso']}")
print(f"Mês menos chuvoso: {analise_rio['mes_menos_chuvoso']}")
print(f"Acumulado de chuva anual (mm): {analise_rio['chuva_anual']:.1f}")
print(f"Umidade média anual: {analise_rio['umidade_media']:.2f}")

print(f"\nCidade mais úmida: {cidade_mais_umida}")

Macaé:
Mês de maior temperatura: Fevereiro
Mês de menor temperatura: Julho
Mês mais chuvoso: Dezembro
Mês menos chuvoso: Junho
Acumulado de chuva anual (mm): 1222.0
Umidade média anual: 0.81

Rio de Janeiro:
Mês de maior temperatura: Fevereiro
Mês de menor temperatura: Julho
Mês mais chuvoso: Janeiro
Mês menos chuvoso: Agosto
Acumulado de chuva anual (mm): 1252.0
Umidade média anual: 0.79

Cidade mais úmida: Macaé

### d) Geração do Relatório em Excel

Finalmente, passamos todos os DataFrames e resultados calculados para a função `gerar_relatorio_excel`, que monta e salva o arquivo `.xlsx` final com todas as abas.

In [10]:
ARQUIVO_SAIDA = "../outputs/Relatorio_Analise_Climatica.xlsx"

palib.gerar_relatorio_excel(
    ARQUIVO_SAIDA,
    df_macae,
    df_rio,
    medias_anuais_macae,
    medias_anuais_rio,
    analise_macae,
    analise_rio,
    cidade_mais_umida
)

print(f"Relatório '{ARQUIVO_SAIDA}' gerado com sucesso!")

Relatório '../outputs/Relatorio_Analise_Climatica.xlsx' gerado com sucesso!